.dropdown {
  color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.label {
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  margin-bottom: 10px;
}

.dropdownList {
  width: 150px;
  line-height: 20px;
  padding: 10px;
  border-radius: 10px;
}

select.dropdownindicator {
  color: red;
}

.selectOption {
  background-color: bisque;
}
